@import url('https://fonts.cdnfonts.com/css/uber-move-text');

.font-uber-move {
  font-family: 'Uber Move Text', sans-serif;
}

body, h3, button, p {
  font-family: 'Uber Move Text', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h3, button, p {
  font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}