@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Uber-Move-Text';
    src: url('../assets/fonts/UberMoveMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Uber-Move-Text';
    src: url('../assets/fonts/UberMoveBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
  }
  
  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes pulse {
    0%, 100% { opacity: 0.4; }
    50% { opacity: 0.1; }
  }